<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-campground"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Tokoku</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Addons
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/toko">
        <i class="fas fa-fw fa-store"></i>
        <span>Toko</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categori">
        <i class="fas fa-fw fa-clipboard-list"></i>
        <span>Categori</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/produk">
        <i class="fas fa-fw fa-layer-group"></i>
        <span>Produk</span></a>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>