<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <button class="btn btn-primary"> <i class="fas fa-plus"></i> </button>
      </h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>No</th>
                      <th>Name</th>
                      <th>Harga</th>
                      <th>Categori</th>
                      <th>Toko</th>
                      <th>Gambar</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Pop Corn 200g</td>
                      <td>Rp. 5500</td>
                      <td>Snack</td>
                      <td>Indomaret</td>
                      <td> - </td>
                      <td>
                          <button class="btn btn-success"><i class="fas fa-pen"></i></button>
                          <button class="btn btn-danger"> <i class="fas fa-trash"></i> </button>
                      </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Margarine 200g</td>
                    <td>Rp. 5000</td>
                    <td>Bahan dapur</td>
                    <td>Indomaret</td>
                    <td> - </td>
                    <td>
                        <button class="btn btn-success"><i class="fas fa-pen"></i></button>
                        <button class="btn btn-danger"> <i class="fas fa-trash"></i> </button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>